<footer>
    <div class="bg-slate-950 text-slate-50 text-center py-4">
      <p>
        Copyright 2025 @ <a href="/" target="_blank" class="hover:opacity-[0.8]">Astro Anime</a>
      </p>
    </div>
  </footer>
